@model IEnumerable<DoAn_DAPM.Models.ThuongHieu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/css/admin.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.css" />

<script src="~/Content/Admin/js/table2excel.js"></script>
<ol class="breadcrumb">
    <li class="breadcrumb-item custom-title">Danh sách thương hiệu</li>
</ol>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Mã Thương Hiệu</th>
                    <th>Tên Thương Hiệu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.MaThuongHieu)</td>
                        <td>@Html.DisplayFor(modelItem => item.TenThuongHieu)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>